.container {
     text-align: center;
     position: absolute;
     left: 0;
     right: 0;
     top: 50%;
     transform: translateY(-50%);
}

.container ion-card {
     box-shadow: #9d9d9d6c 0px 0px 10px 5px;
     background-color: rgba(206, 206, 206, 0.541);
     display: flex table-row;
     border-radius: 15px;
}
ion-input {
     size: large;
     font-size: large;
}
ion-item {
     --background: #ffffffb9 !important;
     --border-radius: 20px;
     margin: 0.4rem;
     font-size: larger;
     font-weight: bold;
     --border-color: #000000;
     font-family: 'Times New Roman', Times, serif;
}
ion-select-option {
     --background: #ad3b3bb9 !important;
     --border-color: #000000;
}

.title {
     text-transform: none;
     text-align: center;
     justify-content: center;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
     margin: 0%;
}

.btn-text {
     text-transform: initial;
     text-decoration: underline;
     white-space: nowrap;
}


.below-form {
     text-align: center;
     font-size: larger;
}

#text {
     font-size: 16px;
     text-align: none;
     line-height: 22px;
     margin: 0;
}

ion-card-content ion-button {
     margin-top: 0.9rem;
     font-size: larger;
}

.imagen {
     width: 40%;
     height: 40%;
     margin: 0 auto;
     display: block;
     padding-top: 1rem;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}
#buttoncontainer {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: justify;
     font-size: medium;
     margin: -0.65rem;
     height:auto;
     width:auto;
   }