.flex-cart {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
     margin-top: 20px;
     margin-bottom: 20px;
}

ion-page background-content {
     --background: var(--ion-color-tertiary-unibe);
     --ion-background-color: #4395655a;
}

ion-button ion-icon {
     color: rgb(141, 21, 21) !important;
     color-scheme: dark;
}

ion-content ion-card {
     box-shadow: #3d3d3d 0px 0px 10px 0px;
     background-color: #ffffff9b;
     display: flex table-row;
}

ion-page ion-header ion-content ion-footer {
     background-color: #4395656c;
    
     --ion-background-color-rgb: 0, 0, 0, 50;

}

.title {
     text-transform: none;
     text-align: center;
     justify-content: center;
     font-weight: bold;
}

.text {
     text-transform: initial;
     text-decoration: underline;
}

.text-checkbox {
     text-align: end;
     size: 2rem;
     color: rgb(79, 79, 79);
}


.form .below-form {
     text-align: center;
}

.form ion-button {
     margin: 16px 16px 0 16px auto;
     align-items: center;
     justify-content: center;
     text-transform: none;
}

.form a {
     display: block;
     margin-bottom: 15px;
}

.form a.create {
     font-size: 18px;
}

.form a:last-child {
     color: #aaa;
     text-decoration: none;
}

.imagen {
     width: 35%;
     height: 35%;
     margin: 0 auto;
     display: block;
     padding-top: 0.5rem;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}

.Error {
     color: red;
     text-align: center;
     font-size: 1.2rem;
     margin: auto 0;
     padding: 0.5rem;

}